<!--<user-detail [user]="selectedUser"></user-detail>-->

<div *ngIf="selectedUser">
  <h2>
    {{selectedUser.name | uppercase}} is my user
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>

<h2>All Users</h2>
<div>
  <input #userName placeholder="Username"/>
  <input #company placeholder="Company"/>
  <button (click)="add(userName.value, company.value); userName.value=''; company.value=''">
    Add
  </button>
</div>
<ul class="users">
  <li *ngFor="let user of users"
      [class.selected]="user === selectedUser"
      (click)="onSelect(user)">
    <span class="badge">{{user.id}}</span>
    <span>{{user.name}} - {{user.company}}</span>
    <button class="edit" (click)="edit(user); $event.stopPropagation()"><i class="material-icons" style="font-size:15px">edit</i></button>
    <button class="edit" (click)="delete(user); $event.stopPropagation()"><i class="material-icons" style="font-size:15px">delete_forever</i></button>
  </li>
</ul>
